/*
Student Name: Dylan Parisotto
Date: 6/18/2026
File Name: style.css
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1, h3 {
  margin:0;
  padding:0;
  border:0;
}

/*style rules for body and images*/
body {
  background-color:#f6eee4;
}

img {
  max-width:100%;
  display:block;
}

/*style rules for mobile viewport*/

/*style rules to show mobile class and hide tab-desk class*/
.tab-desk {
  display:none;
}

/*Style rules for header area*/
h1, h3 {
  padding:2%;
  text-align:center
}

/*style rules for navigation area*/
nav {
  background-color:#2a1f14;
}

nav ul {
  list-style-type:none;
  margin:0;
  text-align:center;
}

nav li {
  display:inline-block;
  font-size:1.5em;
  font-family:Geneva,Arial,sans-serif;
  font-weight:bold;
}

nav li a {
  display:block;
  color:#f6eee4;
  padding: vertical 0.5em horizontal 2em;
  text-decoration:none;
}

/*style rules for main content*/
main {
  padding:2%;
  font-family:Verdana,Arial, Helvetica, sans-serif;
}

main p {
  font-size:1.25em;
}

main h3 {
  padding:top 3%
}

main ul {
  list-style-type:square;
}

.link {
  color:#4d3319;
  text-decoration:none;
  font-weight:bold;
  font-style:italic;
}

.action {
  font-size:1.75em;
  font-weight:bold;
  text-align:center;
}

#contact {
  text-align:center;
}

/*style rules for footer content*/
footer {
  font-size:0.85em;
  background-color:#2a1f14;
  color:#f3e6d8;
  padding:horizontal 0% vertical 1%;
}

footer a {
  color:#f3e6d8;
  text-decoration:none;
}

